<div class="divider div-transparent div-dot"></div>
<section class="about-me" id="about">
    <%# <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> %>
      <h2 class="section__title section__title--about">ABOUT ME</h2>
        <p class="section__subtitle section__subtitle--about">Front-end web developer based in Tokyo, Japan</p>
          <div class="about-me__body">

      </p> I am passionate about learning and improving my skills to create high-quality projects,
      with a keen awareness of how to apply my knowledge in a fast-paced working environment.
      I have previous experience spanning Supply Chain Operations and Business Development,
        but now looking for opportunities in the tech industry to enhance my skills and contribute to team environments.
        When I'm not coding, you can find me dancing, listening to music or watching movies. </p>

          </div>
    <%# </div> %>
        <%= image_tag "comp2.jpg", alt: "alttext",  class:"about-me__img" %>


      <div class="pro-buttons">
      <button><a href="assets/Opemipo_Dada.pdf" target="_blank" class="button-link" style="text-decoration: none">Résumé</a></button>
      <button><a href="https://medium.com/@opedada_79780" target="_blank" class="button-link" style="text-decoration: none">My Blog</a></button>
    </div>
</section>
<section>
<h2 class="skills">TECH STACK</h2>
<div class="skills_section">
<%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_2dfsPeW1sL0lDikNWEnlRvo1-k-KtEVp39aUTc9hzzDlbgj-ZhxRVXkK2p1tGCevIkY&usqp=CAU", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png", alt: "alttext",  class:"skill_logo" %>

<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgnL9jZgMNaHVvVbppBGJUNcgnVwAMTWKFVBygOCvV2GIWiSIl8gbrBK2hTatbA7WxoZQ&usqp=CAU", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "https://www.brcline.com/wp-content/uploads/2016/01/bootstrap-logo.png", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlE7pVqul9AhrR50Bjgc2Iea4uu8OBlqHZhtcoJOHWfz9tESR352xk47znomluXV0HiQU&usqp=CAU", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "https://thequantuminsider.com/wp-content/uploads/github.png", alt: "alttext",  class:"skill_logo" %>
<%= image_tag "http://techies-world.com/wp-content/uploads/2016/08/git_logo.png", alt: "alttext",  class:"skill_logo" %>
</div>
</section>
<div class="divider div-transparent div-dot"></div>
