<div id="projects">
  <h2>PROJECTS</h2>
  <div class="all-projects">
    <div class="">
      <% data.products.each_with_index do |product, index| %>
            <h4 class="project-title"><%= product.name %></h4>
          <div class="pro d-flex">
            <% if index == 2 %>
              <%= partial 'partials/carouselss' %>
            <% else %>
              <%= image_tag product.image, class: "pic align-left slide-in" %>
            <% end %>
            <div class="text">
              <h5><strong>Role:</strong> <%= product.role %></h5>
              <p><%= product.description %></p>
              <br>
              <div class="card-tags">
                <p><strong>Tools used:</strong> <% product.tags.each do |tag| %>
                    <span><i class="<%= tag %>"></i></span>
                  <% end %></p>
              </div>
              <div class="pro-buttons">
              <%# <button><% link_to product.url, target: '_blank', class: 'button-link', style: 'text-decoration: none;' do %> %>
                  <%# Website <i class="fas fa-external-link-alt" ></i> %>
              <%# <% end %>
              <%# </button> %>
              <button><% link_to product.github, target: '_blank', class: 'button-link', style: 'text-decoration: none;' do %>
                View Code  <i class="fab fa-github"></i>
              <% end %>
              </button>
              </div>
              </div>
          </div>
          <br>
          <br>
          <hr>
          <br>
          <br>
      <% end %>
    </div>
  </div>
</div>
<%# <button class="other-projects"><a href="" style="color: #1c1836da; text-decoration: none"> Other Projects >> </a></button> %>
