<div id="projects">
  <h2>PROJECTS</h2>
  <div class="card-container" style="padding: 24px;">
    <ul class="nav tabs-underlined" id="myTab" role="tablist">
      <% data.products.each_with_index do |product, index| %>
        <li class="nav-item" role="presentation">
          <a class="<%= "active" if index.zero?  %> tab-underlined" id="tab-<%= index %>" data-toggle="tab" href="#content-<%= index %>" role="tab" aria-controls="home" aria-selected="true"><%= product.name %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="myTabContent">
      <% data.products.each_with_index do |product, index| %>
        <div class="tab-pane fade <%= "show active" if index.zero?  %>" id="content-<%= index %>" role="tabpanel" aria-labelledby="home-tab">
          <div class="pro d-flex">
            <% if index.zero? %>
              <%= partial 'partials/carouselss' %>
            <% else %>
              <%= image_tag product.image, class: "pic" %>
            <% end %>
            <div class="text">
              <h5><strong>Role:</strong> <%= product.role %></h5>
              <p><%= product.description %></p>
              <br>
              <p><strong>Timeline:</strong> <%= product.timeline %></p>
              <div class="card-tags">
                <p><strong>Tools used:</strong> <% product.tags.each do |tag| %>
                    <span><i class="<%= tag %>"></i></span>
                  <% end %></p>
              </div>
              <hr>
              <div class="pro-buttons">
              <button><% link_to product.url, target: '_blank', class: 'button-link', style: 'text-decoration: none;' do %>
                  Website <i class="fas fa-external-link-alt" ></i>
              <% end %>
              </button>
              <button><% link_to product.github, target: '_blank', class: 'button-link', style: 'text-decoration: none;' do %>
                View Code  <i class="fab fa-github"></i>
              <% end %>
              </button>
              </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <div class="divider div-transparent div-dot"></div> %>
