<div class="wrapper-white py-2">
  <div id="projects">
    <h2>Projects</h2>
    <div class="card-container" style="padding: 20px;margin-bottom: 0">
      <ul class="nav tabs-underlined" id="myTab" role="tablist">
        <% data.products.each_with_index do |product, index| %>
          <li class="nav-item" role="presentation">
            <a class="<%= "active" if index.zero?  %> tab-underlined" id="tab-<%= index %>" data-toggle="tab" href="#content-<%= index %>" role="tab" aria-controls="home" aria-selected="true"><%= product.name %></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <% data.products.each_with_index do |product, index| %>
          <div class="tab-pane fade py-3 <%= "show active" if index.zero?  %>" id="content-<%= index %>" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex">
              <% if index.zero? %>
                <%= partial 'partials/carouselss' %>
              <% else %>
                <%= image_tag product.image, class: "pic" %>
              <% end %>
              <div class="pl-3">
                <h3><strong>Role:</strong> <%= product.role %></h3>
                <p><%= product.description %></p>
                <div class="card-tags">
                  <% product.tags.each do |tag| %>
                    <span><i class="<%= tag %>"></i></span>
                  <% end %>
                </div>
                <% link_to product.url, class: 'external-link', target: '_blank' do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
