<%# <div class="container "> %>
<%= partial 'partials/navbar' %>
<!-- Banner Section -->
<%= partial 'partials/banner' %>
<!-- About Section -->
<%= partial 'partials/about' %>
<!-- Projects Section -->
<%= partial 'partials/projects' %>
<!-- Contact Section -->
<%= partial 'partials/contact' %>
<%# </div> %>
<footer>
<ul class="copyright"><li>© Opemipo Dada 2021</li></ul>
<footer>
